.container {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}

@media (min-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}